{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

    <!-- Cart -->

    <!-- Back button -->
    <a href="{% url 'shop' %}" class="btn rounded-0">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <h1 class="text-center mt-3 text-decoration-underline">Shopping Cart</h1>


    {% if cart_items %}

    <div class="lg-screen d-flex justify-content-center mt-2 mb-5">

        <div class="cart-box p-3 mb-md-5 mb-5">

            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item">
                    <div class="container mt-2">
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'single_item' item.product.id %}"><img class="cart-img"
                                        src="{{ item.product.image.url }}"></a>
                                <span class="cart-item-text mx-3">{{item.product.title}}</span>
                                <span class="cart-item-text"> €{{item.product.price|floatformat:2}}</span>

                                <form class="remove-item position-absolute top-0 end-0"
                                    action="{% url 'delete_item_from_cart' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="remove-item-button">
                                        <i class="fa-sharp fa-solid fa-circle-xmark fs-2"></i>
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-3 mt-2 cart-quantity">Quantity:</div>
                            <div class="col-1 up">
                                <form action="{% url 'subtract_from_cart' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="{{item.quantity}}">
                                    <br>
                                    <button type="submit" class="item-quantity-button" >
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>

                            <div class="col-1 mt-2 up ps-4 fw-bold">
                                {{item.quantity}}
                            </div>

                            <div class="col-1 up">
                                <form action="{% url 'add_to_cart' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <br>
                                    <button type="submit" class="item-quantity-button">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                            

                    </div>

                </li>
                {% endfor %}
            </ul>
            <!-- Cart totals and clear cart button -->
            <a href="{% url 'delete_cart' %}" class="btn rounded-0 clear-cart-btn">
                <span class="icon">
                    <i class="fa fa-trash-o"></i>
                </span>
                <span class="text-uppercase">Clear Cart</span>
            </a>
            <div class="text-end mt-2">
                <span class="cart-item-text">Total - €{{ total|floatformat:2 }}</span>
            </div>
            <div class="text-end mt-2">
                <span class="cart-item-text">Delivery cost - €{{ delivery|floatformat:2 }}</span>
            </div>
            <div class="text-end mt-2">
                <span class="cart-item-text">Grand Total - €{{ grand_total|floatformat:2 }}</span>
            </div>
            <div class="text-center mb-5 mt-4">
                <a class="btn pay-now metal linear" href="{% url 'checkout' %}">Pay Now</a>
            </div>
        </div>
    </div>

    {% else %}
    <h3 class="text-center mt-3">Your Cart is Empty</h3>
    {% endif %}

</main>

{% endblock content %}