{% extends 'base.html' %}
{% load static %}

{% block content %}


<main>

    <!-- Cart -->
    <!-- fix inline styles -->
    <h1 class="text-center mt-3 text-decoration-underline">Shopping Cart</h1>
    <a href="{% url 'shop' %}" class="btn rounded-0" style="margin-top: -5rem;">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>

    {% if cart_items %}

    <!-- fix inline styles -->

    <div class="lg-screen d-flex justify-content-center mt-2 mb-5">

        <div class="cart-box p-3 mb-md-5 mb-5">
            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item">
                    <div class="mt-2">
                        <a href="{% url 'single_item' item.product.id %}"><img class="cart-img" src="{{ item.product.image.url }}"></a>
                        <span class="cart-item-text mx-3">{{item.product.title}}</span>

                        <form class="remove-item" action="{% url 'delete_item_from_cart' item.product.id %}"
                            method="POST">
                            {% csrf_token %}
                            <button type="submit" class="remove-item-button">
                                <img class="remove-item-button" src="/media/cross.png" alt="submit" />
                            </button>
                            <input type="submit" class="remove-item-button" value="">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>


                    <p class="mt-3 mb-5 mx-2 mx-md-4 mx-lg-3 mx-xl-5 text-end">Quantity</p>
                    <div class="container g-0">
                        <div class="row justify-content-end g-0">
                            <div class="col-2 col-md-1 squeeze-up">
                                <form action="{% url 'subtract_from_cart' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="{{item.quantity}}">
                                    <br>
                                    <button type="submit" class="item-quantity-button">
                                        <img class="item-quantity-button" src="/media/minus.png" alt="submit" />
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>

                            <div class="col-2 col-md-1 squeeze-in">{{ item.quantity }}</div>

                            <div class="col-2 col-md-1 squeeze-up">
                                <form action="{% url 'add_to_cart' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <br>
                                    <button type="submit" class="item-quantity-button">
                                        <img class="item-quantity-button" src="/media/add.png" alt="submit" />
                                    </button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="text-start cost">
                        <span class="cart-item-text">Price <br>€{{item.product.price|floatformat:2}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <!-- fix inline styles -->
            <a href="{% url 'delete_cart' %}" class="btn rounded-0" style="float: left;">
                <span class="icon">
                    <i class="fa fa-trash-o"></i>
                </span>
                <span class="text-uppercase">Clear Cart</span>
            </a>
            <div class="text-end mt-2">
                <span class="cart-item-text">Total - €{{ total|floatformat:2 }}</span>
            </div>
            <div class="text-end mt-2">
                <span class="cart-item-text">Delivery cost - €{{ delivery|floatformat:2 }}</span>
            </div>
            <div class="text-end mt-2">
                <span class="cart-item-text">Grand Total - €{{ grand_total|floatformat:2 }}</span>
            </div>
            <div class="text-center mb-5 mt-4">
                <!-- fix dodgy button -->
                <a class="btn pay-now metal linear" href="{% url 'checkout' %}">Pay Now</a>
            </div>
        </div>
    </div>


    {% else %}
    <h3 class="text-center mt-3">Your Cart is Empty</h3>
    {% endif %}

</main>

{% endblock content %}