{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main content -->
<main>

    <!-- Artist carousel -->
    <div class="header header-artist-carousel d-none d-md-block">
        <div class="overlay">
            <div class="text-center blur mx-auto mt-lg-4 rounded">
                <h1 class="p-3 metal-light mt-2">The Man Behind the Art</h1>
            </div>
            <div class="container-fluid g-0 mt-2 mt-lg-4">
                <div class="row justify-content-center">
                    <div class="col-10 g-0 text-center mt-4">
                        <iframe id="iframe-desktop" class="border border-dark rounded me-auto" src="https://www.youtube.com/embed/AEuKBFNjjaA" title="Interview with the artist"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile layout -->
    <div class="container-fluid g-0 d-lg-none ">
        <div class="underlap row text-center sticky-top">
            <div class="col-12 col-lg-6 d-md-none">
                <img class="artist-image" src="{% static 'images/artist1.jpg' %}" alt="artist image">
            </div>
        </div>
        <div class="row justify-content-md-end">
            <div class="text-center d-md-none contact-me">
                <h1 class="p-2 metal-light"></h1>
            </div>
            <div class="col-lg-6 text-center overlap">
                <p class="artist-title mt-4">Metal Morphosis</p>
                <p class="p-3 p-md-5">
                        Welcome to Forged Nature, where the art of welding and forging converges with the wonders of wildlife. 
                        Based in scenic Westmeath, we meticulously craft exquisite metal sculptures that embody the strength, 
                        grace, and intricate details of the natural world.
                        <br class="mb-3"> 
                        Through skilled techniques and a deep reverence for our surroundings, 
                        we shape raw materials into captivating pieces that evoke awe and admiration. 
                        Our textured surfaces and masterful play of light and shadow bring these sculptures to life, offering 
                        a timeless connection to nature's splendor. 
                        <br class="mb-3">
                        Discover the untamed spirit of wildlife, thoughtfully 
                        captured in each centerpiece for your home or garden. 
                        <br class="mb-3">
                        Join us on this creative journey as we 
                        celebrate the magnificent interplay between human creativity and the forged beauty of nature.
                </p>
            </div>
        </div>
    </div>

    <!-- Desktop layout -->
    <div class="container-fluid g-0 d-none d-lg-block">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 mx-auto text-center mt-4">
                <div class="text-center p-5">
                    <p class="artist-title border-bottom border-2">Form & Function</p>
                    <p class="artist-blurb">
                        Welcome to Forged Nature, where the art of welding and forging converges with the wonders of wildlife. 
                        Based in scenic Westmeath, we meticulously craft exquisite metal sculptures that embody the strength, 
                        grace, and intricate details of the natural world.
                        <br class="mb-3"> 
                        Through skilled techniques and a deep reverence for our surroundings, 
                        we shape raw materials into captivating pieces that evoke awe and admiration. 
                        Our textured surfaces and masterful play of light and shadow bring these sculptures to life, offering 
                        a timeless connection to nature's splendor. 
                        <br class="mb-3">
                        Discover the untamed spirit of wildlife, thoughtfully 
                        captured in each centerpiece for your home or garden. 
                        <br class="mb-3">
                        Join us on this creative journey as we 
                        celebrate the magnificent interplay between human creativity and the forged beauty of nature.
                    </p>
                </div>
            </div>
            <!-- Contact form -->
            <div class="col-lg-6 text-center p-4 mt-5" id="contact-form">
                <p class="artist-title border-bottom border-2">Get in Touch</p>
                <form method="POST" action="{% url 'message' %}">
                    {% csrf_token %}
                    <p>
                        Got an idea for a piece you would like to commission?
                        <br>
                        Want a stall set up at your event?
                        <br>
                        Need some help with an order?
                        <br>
                        Whatever it is I would love to hear from you.
                    </p>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" aria-describedby="name"
                            placeholder="Enter your name...">
                    </div>

                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" aria-describedby="email"
                            placeholder="Enter your email...">
                    </div>
                    <small class="form-text text-muted">
                        We'll never share your email with anyone else.
                    </small>

                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5"
                            placeholder="Enter your message...">
                        </textarea>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <button type="submit" class="btn metal linear mt-3">Send</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Contact form -->
    <h1 class="p-2 text-center metal-light d-lg-none contact-me">Contact Me</h1>
    <div class="contact-form text-center p-4 mt-0 d-lg-none mx-auto" id="contact-form-mobile">
        <form method="POST" action="{% url 'message' %}">
            {% csrf_token %}
            <p>
                Got an idea for a piece you would like to commission?
                <br>
                Want a stall set up at your event?
                <br>
                Need some help with an order?
                <br>
                Whatever it is I would love to hear from you.
            </p>
            <div class="form-group">
                <input type="text" class="form-control w-75" name="name" aria-describedby="name"
                    placeholder="Enter your name...">
            </div>

            <div class="form-group mt-3">
                <input type="email" class="form-control w-75" name="email" aria-describedby="email"
                    placeholder="Enter your email...">
            </div>
            <small class="form-text text-muted">
                We'll never share your email with anyone else.
            </small>

            <div class="form-group mt-3">
                <textarea class="form-control w-75" name="message" rows="5"
                    placeholder="Enter your message..."></textarea>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit" class="btn metal linear mt-3">Send</button>
        </form>
    </div>

    <!-- Video Interview with Ross -->
    <h1 class="p-2 text-center metal-light d-md-none contact-me">Interview with the Artist</h1>
    <div class="col-12 d-md-none text-center mt-4" id="vid">
        <iframe id="iframe-mobile" class="border border-dark rounded" src="https://www.youtube.com/embed/AEuKBFNjjaA" title="Interview with the artist"
            allowfullscreen></iframe>
    </div>
    

</main>
{% endblock content %}