{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
<div class="container-fluid text-center">
    <div class="row">
            {% for pic in pictures %}
            <div class="col-12 col-md-6 col-lg-4 mt-5">

                <a href="{{ pic.image.url }}" target="_blank" aria-label="main image of sculpture">
                    <img class="col-12 col-md-10 featured-image-shop" src="{{pic.image.url}}"
                        alt="image of hand forged metal sculpture">
                </a>

            </div>
            {% endfor %}
    </div>
</div>

</main>
{% endblock content %}

