{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'home' %}" class="btn rounded-0">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Back</span>
</a>
<div class="d-flex justify-content-center come-in">
    <img class="error-pic mt-5" src="{% static 'images/error-500.png' %}">
</div>
<h1 class="d-flex justify-content-center mt-4">Whoops!!</h1>
<div class="d-flex justify-content-center mt-3">
    <div class="d-flex justify-content-center error-card p-2">
        <h3 class="text-center">Looks like we've encountered a server error.
            <br><br>But don't worry, We are looking into it.
            <br><br> In the mean time...<br>Click the back button above or use any of the navigation links and head back to the site...</h3>
    </div>
</div>

{% endblock %}