{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

    <!-- Add Sculpture form -->

    <a href="{% url 'dashboard' %}" class="btn rounded-0" aria-label="link to admin dashboard">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back</span>
    </a>
    <h1 class="text-center mt-3 text-decoration-underline">Add Sculpture</h1>
    
    <div class="container">
        <div class="lg-screen row justify-content-center mt-2 mb-5">
            <div class="col-10 col-lg-6 cart-box p-3 mb-md-5 mb-5">
                <form class="login mb-2 text-center" method="POST" enctype="multipart/form-data" action="{% url 'add_sculpture' %}">
                    <h4>Input product details below</h4>
                    {% csrf_token %}

                    <div class="form-group come-in mt-3 mb-3">
                        {{form.title}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        {{form.description}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        {{form.detailed_description}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        {{form.price}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        {{form.quantity}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Select First Image:
                        <br>
                        {{form.image}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Select Second Image:
                        <br>
                        {{form.image2}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Select Third Image:
                        <br>
                        {{form.image3}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Select Fourth Image:
                        <br>
                        {{form.image4}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Select Fifth Image:
                        <br>
                        {{form.image5}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        Available for Delivery?
                        <br>
                        {{form.available}}
                    </div>
                    
                    <h6 class="text-center text-danger mb-4">**Warning, Tick box above to set product as available for delivery.**</h6>
                    <button type="submit" class="btn metal linear">Save</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
