{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'dashboard' %}" class="btn rounded-0">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Back</span>
</a>
<div class="container text-center mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1>Delete Product</h1>
            <p>Are you sure you want to Delete {{piece.title}}?</p>
            <form method="post" action="{% url 'delete_sculpture' piece.id %}">
                {% csrf_token %}
                <button class="btn mt-3 metal linear" type="submit">Delete?</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}