{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!-- Main content -->
    <div class="container-fluid sort-btn">
        <div class="row justify-content-end">
            <div class="col-3 col-md-2 col-xl-1 dropdown">
                <button class="btn rounded dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by:
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a href="{% url 'shop' %}?sort=price&direction=asc"
                            class="dropdown-item text text-decoration-underline ">Price Asc &#8593;</a>
                        <a href="{% url 'shop' %}?sort=price&direction=desc" class="dropdown-item">Price Desc
                            &#8595;</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center come-in">
        <div class="row justify-content-center  ">
            {% for piece in sculptures %}
            <div class="col-10 col-md-6 col-lg-3 p-2 mt-5 border-bottom border-2">
                <a href="{% url 'single_item' piece.id %}">
                    <img class="col-12 col-md-10 featured-image-shop" src="{{piece.image.url}}">
                </a>
                <h3 class="mt-3" style="height: 4rem;">{{piece.title}}</h3>
                <p class="product-description mx-auto">{{piece.description}}</p>
                <h4>€{{piece.price|floatformat:0}}</h4>
                <a href="{% url 'single_item' piece.id %}" class="btn info-btn metal linear mt-2 mb-3">Info</a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock content %}