{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Displays a page about a single product from the database -->
<main>
    <a href="{% url 'shop' %}" class="btn rounded-0" aria-label="shop">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <div class="container text-center p-4 mt-3">
        <div class="row justify-content-center justify-content-xl-evenly come-in">
            <div class="col-12 col-md-8 col-lg6 col-xl-5 come-in">
                {% if 'placeholder' in piece.image.url %}
                <img class="featured-image-item" src="{% static 'images/coming-soon.png' %}" alt="image of hand forged metal sculpture">
                {% else %}
                <a href="{{ piece.image.url }}" target="_blank" aria-label="main image of sculpture">
                    <img class="featured-image-item" src="{{piece.image.url}}" alt="image of hand forged metal sculpture">
                </a>
                {% endif %}
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
                <h1 class="mt-4">{{piece.title}}</h1>
                <h5 class="mb-4 mt-3">{{piece.description}}</h5>
                <p>
                    {{piece.detailed_description}}
                </p>
                <span class="fs-4">€{{piece.price|floatformat:0}}</span>
                <span><small><small class="text-danger">Excl del...</small></small></span>
                <br>
                {% if piece.available == True %}
                {% if piece.quantity > 0 %}
                <form action="{% url 'add_to_cart' piece.id %}" method="POST">
                    {% csrf_token %}
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="decrement-qty btn rounded-0" data-item_id="{{ piece.id }}"
                        id="decrement-qty_{{ piece.id }}">
                        <i class="fas fa-minus"></i>
                    </div>
                    
                    <input class="available-quantity" type="hidden" name="available-quantity"
                        value="{{ piece.quantity }}">

                    <input onKeyDown="return false" class="number-input qty_input" type="number" name="quantity"
                        value="1" min="1" max="99" data-item_id="{{ piece.id }}" id="id_qty_{{ piece.id }}">


                    <div class="increment-qty btn rounded-0" data-item_id="{{ piece.id }}"
                        id="increment-qty_{{ piece.id }}">
                        <i class="fas fa-plus"></i>
                    </div>

                    <br>
                    <span><small><small class="text-muted">We currently have <strong>{{piece.quantity}} </strong>of these in stock</small></small></span>
                    <br>
                    <input type="submit" class="cart-btn metal linear mb-2 mt-2" value="Add to Cart">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                {% else %}
                <p class="text-muted mt-5">
                    Temporarily out of stock,<br>
                    
                    <a href="{% url 'artist' %}#contact-form"><strong>Contact</strong></a> me for more information
                    <br>and estimated delivery times.
                </p>
                {% endif %}
                {% else %}
                <p class="text-muted mt-5">
                    Large items can take upwards of 8 weeks to craft,<br>
                    Please <a href="{% url 'artist' %}#contact-form"><strong>Contact</strong></a> me for more information
                    <br>and estimated delivery times.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/quantity_input_script.js' %}"></script>

{% endblock content %}