{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <a href="{% url 'shop' %}" class="btn rounded-0 d-none d-md-block">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <div class="container text-center p-4 mt-3">
        <div class="row justify-content-center justify-content-xl-evenly come-in">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4 come-in">
                <a href="{{ piece.image.url }}" target="_blank">
                    <img class="featured-image-item" src="{{piece.image.url}}">
                </a>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">

                <h1 class="mt-4">{{piece.title}}</h1>
                <h5 class="mb-4 mt-3">{{piece.description}}</h5>
                <p>Painstakingly crafted and hand forged over incredible heat these Owls are built to withstand
                    everything the weather can throw at them.
                    Mounted up high the incredible realism works to scare off nuisance birds or placed on a gate
                    they
                    make a fantastic addition to your entrance way.
                    Alternatively they can be placed inside the home and make wonderful center pieces.
                </p>
                <span class="fs-4">€{{piece.price|floatformat:0}}</span>
                <span><small><small class="text-danger">Excl del...</small></small></span>
                <br>

                <form action="{% url 'add_to_cart' piece.id %}" method="POST">
                    {% csrf_token %}
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <button class="decrement-qty btn rounded-0" data-item_id="{{ piece.id }}"
                        id="decrement-qty_{{ piece.id }}">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input class="form-control qty_input w-25" type="number" name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ piece.id }}" id="id_qty_{{ piece.id }}">
                    <button class="increment-qty btn rounded-0" data-item_id="{{ piece.id }}"
                        id="increment-qty_{{ piece.id }}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <br>
                    <input type="submit" class="cart-btn metal linear mb-2 mt-2" value="Add to Cart">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>

            </div>
        </div>
    </div>
    <a href="{% url 'shop' %}" class="btn rounded-0 d-md-none">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>

</main>
<script src="/static/js/quantity_input_script.js">

</script>

{% endblock content %}