{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="btn rounded-0" aria-label="home-page">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Back</span>
</a>
<div class="container text-center mt-4 mb-4 p-3">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-6">

            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}" aria-label="reset password link">new password
                    reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                
                <div class="form-group mt-3">
                    <label for="id_password1">New Password:</label>
                    <br>
                    <input autofocus="autofocus" class="form-control mt-2" type="password" name="password1" placeholder="New Password" required="" id="id_password1">
                </div>

                <div class="form-group mt-3">
                    <label for="id_password2">New Password (again):</label>
                    <br>
                    <input class="form-control mt-2" type="password" name="password2" placeholder="New Password (again)" required=""
                    id="id_password2">
                </div>
                

                <input class="btn metal linear mt-4" type="submit" name="action" value="Change">
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}