{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 p-3">

            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <br>
            <p>Forgotten your password?<br><br>
                Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}

                <div class="form-group">
                <label for="id_email"></label>
                <br>
                <input class="form-control" type="email" name="email" size="30" placeholder="E-mail address" required="" id="id_email">
                </div>
                <br>
                <input class="btn metal linear mb-2" type="submit" value="{% trans 'Reset' %}" />
            </form>

            <p>Please <a href="{% url 'artist' %}#contact-form"><strong>Contact</strong></a>  us if you have any trouble resetting your password.</p>
        </div>
    </div>
</div>

{% endblock %}