{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="btn rounded-0" aria-label="home-page">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Home</span>
</a>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-6 p-3">
            <h1>{% trans 'Your password is now changed.' %}</h1>
        </div>
    </div>
</div>

{% endblock %}