{% extends 'base.html' %}
{% load static %}

{% block content %}


<main>

    <!-- Add Testimonial form -->
    <h1 class="text-center mt-3 text-decoration-underline">Testimonial</h1>
    <a href="{% url 'shop' %}" class="btn rounded-0" style="margin-top: -5rem;">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back</span>
    </a>
    <div class="container">
        <div class="lg-screen row justify-content-center mt-2 mb-5">
            <div class="col-10 col-lg-6 cart-box p-3 mb-md-5 mb-5">
                <form class="login mb-2 text-center" method="POST" action="{% url 'leave_review' %}">
                    <h4>Leave Review Below</h4>
                    {% csrf_token %}

                    <div class="form-group come-in mt-3 mb-3">
                        {{form.name}}
                    </div>
                    <div class="form-group come-in mt-3 mb-3">
                        {{form.review}}
                    </div>
                    <div class="d-none">
                        {{form.public}}
                    </div>
                    

                    <button type="submit" class="btn metal linear">Save</button>

                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
