{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center mt-5 mb-5">
    <a href="{% url 'home' %}" class="btn rounded-0" style="margin-top: -5rem;">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back</span>
    </a>
    <form method="POST" action="{% url 'newsletter' %}" class="col-12 col-lg-6 col-xl-3 form-inline footer-borders">
        {% csrf_token %}
        <div class="form-group mb-2 text-center mt-3">
            <h5>Keep up to date with upcoming events and special offers<br>Sign up to our Newsletter here...
        </div>
        <div class="form-group container mt-4 mb-4 text-center">
            
            {% for field in form %}
            <div class="form-group come-in mt-3 mb-3">
                {{field}}
            </div>
            {% endfor %}
            <!-- <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control w-75" id="name" placeholder="Enter your Name...">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control w-75" id="email" placeholder="Enter your Email...">
            <br> -->
            <button type="submit" class="btn mt-4 mb-4 metal linear newsletter">Sign Up</button>
        </div>
    </form>
</div>

{% endblock %}